.navbarviews_container{
    position: fixed;
    width: 100%;
    font-size: 3rem;
    color: white;
    padding: 20px 10px;
    margin: 0;
    z-index: 100;
}

.navbarviews_container_element{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    background-color: rgba(60, 179, 113, 1);
    cursor: pointer;
}

.navbarviwes_a{
    text-decoration: none;
    display: flex;
    color: white;
}